@{
    ViewData["Title"] = "Home Page";
}


@section jsSection {
    <script src="/js/addForm.js" defer></script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalXl">Extra large modal</button>


<div class="modal fade" id="exampleModalXl" tabindex="-1" aria-labelledby="exampleModalXlLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container" style="margin-left: auto; margin-right: auto;">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-10">
                            <div class="card px-5 py-5">
                                <div class="form-data">

                                    <div class="mb-5">
                                        <h3 id="title" class="text-center">Form Oluştur</h3>
                                    </div>
                                    <div id="AddForm">
                                        <form action="/form/AddForm" method="post">

                                            <div class="mt-2">
                                                <div class="input-group flex-nowrap">
                                                    <input type="text" id="nameInput" name="Name" class="form-control" placeholder="Form Adı">
                                                </div>
                                            </div>

                                            <div class="mt-2">
                                                <div class="form-floating">
                                                    <textarea class="form-control" id="FormDesc" placeholder="Form Açıklaması" style="height: 100px"></textarea>
                                                    <label for="FormDesc">Açıklama</label>
                                                </div>
                                            </div>

                                            <hr />
                                            <hr />

                                            <div id="fields">

                                            </div>


                                            <div class="float-end">
                                                <div>
                                                    <button type="submit" class="btn btn-primary">Kaydet</button>
                                                </div>
                                            </div>

                                            <div class="float-end">
                                                <div>
                                                    <a id="ChangeBtn" onclick="AddFields()" class="btn btn-dark">Alan Ekle</a>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>