@using Application.Features.Queries.FormQueries.ListForms
@{
    ViewData["Title"] = "Home";
}

@model ListFormsQueryResponse;


@section jsSection {
    <script src="/js/addForm.js" defer></script>
}

<div class="text-center">
    <h1 class="display-4">Formlar</h1>
</div>
<div class="col-4 ">
    <form action="/home/index" class="input-group mb-3">
        <input type="text" class="form-control" name="search" placeholder="İsme Göre Ara">
        <button class="btn btn-outline-secondary" type="submit" id="searchBtn">Ara</button>
    </form>
</div>

<style>
    .formTable td:first-child,
    .formTable th:first-child {
        width: 30%;
    }

    .formTable td:nth-child(2),
    .formTable th:nth-child(2) {
        width: 60%;
    }
</style>

<div>
    <div class="bd-example formTable">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Adı</th>
                    <th scope="col">Açıklama</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Forms != null)
                {
                    @foreach (var item in Model.Forms)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>
                                <a href="/forms/@item.Id" class="btn btn-dark float-end">Detaya Git</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#AddForm">Yeni Form Oluştur</button>

<div class="modal fade" id="AddForm" tabindex="-1" aria-labelledby="exampleModalXlLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container" style="margin-left: auto; margin-right: auto;">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-10">
                            <div class="card px-5 py-5">
                                <div class="form-data">
                                    <div class="mb-5">
                                        <h3 id="title" class="text-center">Form Oluştur</h3>
                                    </div>
                                    <div id="AddForm">
                                        <form action="/form/addform" method="post" data-parsley-validate>
                                            <div class="mt-2">
                                                <div class="input-group flex-nowrap">
                                                    <input required
                                                           data-parsley-minlength="2"
                                                           data-parsley-errors-container="#nameError"
                                                           data-parsley-required-message="Bu alan boş geçilemez!"
                                                           data-parsley-minlength-message="Bu alan 2 karakterden daha kısa olamaz!"
                                                           type="text" id="nameInput" name="Name" class="form-control" placeholder="Form Adı">
                                                </div>
                                            </div>
                                            <div class="mt-2" style="color:red;" id="nameError">
                                            </div>

                                            <div class="mt-2">
                                                <div class="form-floating">
                                                    <textarea required
                                                              data-parsley-errors-container="#descriptionError"
                                                              data-parsley-required-message="Bu alan boş geçilemez!"
                                                              class="form-control" id="FormDesc" name="Description" placeholder="Form Açıklaması" style="height: 100px"></textarea>
                                                    <label for="FormDesc">Açıklama</label>
                                                </div>
                                            </div>

                                            <div class="mt-2" style="color:red;" id="descriptionError">
                                            </div>

                                            <hr />
                                            <hr />

                                            <div id="fields">
                                            </div>

                                            <div class="float-end">
                                                <div>
                                                    <button type="submit" class="btn btn-primary">Kaydet</button>
                                                </div>
                                            </div>

                                            <div class="float-end">
                                                <div>
                                                    <a id="ChangeBtn" onclick="AddFields()" class="btn btn-dark">Alan Ekle</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>