@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>



<form action="/home/test" method="post">
    <div class="form-check form-switch">
        <input name="sasa" value="true" class="form-check-input" type="checkbox" role="checkbox" id="IsRequired" checked>
        <label class="form-check-label" for="IsRequired">Checked switch checkbox input</label>
    </div>
    <button type="submit"> sa </button>
</form>